.pixelFont{
  font-family: 'Press Start 2P', cursive;
  line-height: 1.7em;
  font-size: xx-large;
}

.story {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00FF41;
  font-size: 1.2em;
}

.darkBackground {
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.856);
  border-radius: 20px;
  padding: 2em;
}

.title{
    font-size: 2.5em;
    color: #008F11;
    text-align: center;
}



.lightGreen {
  color: #00FF41ca;
  line-height: 1.7;
  font-size: 1.2em;
}

.brightGreen {
  color: #00ff40ed;
  font-weight: bold;
}

.experienceTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}





.icon{
    margin: 0px 0.5em;
}

.link{
    color: rgb(124, 168, 250);
}

.contactIcon{
  color: white;
  justify-self: center;
  margin-right: 2em;
}

.contactGrid{
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 0.4em;
}

.name{
  justify-content: start;
}