#bg
{   
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}



#main{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(105, 105, 105, 0);
}

